* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 10;
    height: 100vh;
    display: flex;
    background-color: rgb(255, 18, 129);
    align-items: center;
    justify-items: center;
    transition: background-color 0.5s;
    background-image: url("world1bg-10.png");
    background-size: 100%;
    background-repeat: repeat;
    background-position: 50% 50%;

}


#overlay {
position: relative;
top: -30%;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 10%;
  font-size: 24px;
  z-index: 4;
  color: aliceblue;

}

.poem{
    position: fixed;
    bottom: 0%;
    right: 0px;
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.537);
    border-radius: 10px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    padding: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.75);
}

#blob{
    position: fixed;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: radial-gradient(circle at 30% 30%, #ffb7ef, #ff009d);
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;


    --scale: 1; /*how the blob scales code reference: https://codepen.io/wesbos/pen/gPZBZQ?utm_source=chatgpt.com*/ 

    animation: morph 3s linear infinite; /* animation reference: https://codepen.io/karisabinemalmin/pen/exjeym*/
}


@keyframes morph{
  0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    transform: scale(var(--scale));
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    transform: scale(var(--scale));

  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: scale(var(--scale));

  }
}


.bold{
    font-weight: bold;
}


.shrink{
    font-family: "Micro 5", sans-serif;
    color: hotpink;
    background-color: blue;
    font-size: 40px;
}

.grow{
    font-family: "Sigmar One", sans-serif;
    color: rgb(30, 49, 255);
    font-size: 90px;
    font-variant: small-caps;
    font-weight: bold;
    background-color: #a9ff5e;
}

.sleep{
    font-family: "Cookie", cursive;
    color: rgb(137, 122, 222);
    background-color: rgb(0, 42, 156);
    font-size: 70px;
}

.sleep2{
    background-color: rgb(60, 75, 115);
}

.wake{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(11, 3, 255);
    font-size: 70px;
    color: #5ef2ff;
}

.wake2{
    background-color: rgb(118, 255, 225);
}

.blush{
  font-family: "Gorditas", serif;
    color: rgb(253, 184, 255);
    background-color: #ff5e91;
    font-size: 80px;
}

.happy{
    font-family: "Ribeye", serif;
    color: rgb(255, 247, 1);
    background-color: #e2b900;
    font-size: 70px;
}

.rainbow{
    font-family: "Henny Penny", system-ui;
    color: rgb(203, 255, 31);
    background-color: #ff5e91;
    font-size: 70px;
}

.purple{
    font-family: "Petit Formal Script", cursive;
    color: rgb(87, 31, 255);
    background-color: #dc5eff;
    font-size: 100px;
    font-weight: bold;
}

.spell-combo{
    background-color: white;
    background-image: url(bgcolor.png);

}


.spell-image {
  position: fixed;
  top: 60%;
  left: 50%;
transform: translate(-50%, -50%);
  /* start off-screen (bottom-right) */
  opacity: 0;

  width: 100%; /* adjust */
  pointer-events: none;

  animation: none;
}

body.spell-combo .spell-image {
  animation: Path 1.8s ease-in forwards;
}

@keyframes Path {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.spell-combo #blob {
  animation: floatAway 5s ease-in forwards;
}

@keyframes floatAway {
  0% {
    transform: translate(-50%, -50%) scale(var(--scale, 1));
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -160vh) scale(0.9);
    opacity: 0;
  }
}

body.spell-combo .poem {
    opacity: 0;
}

body.spell-combo #overlay {
  display: none;
}

.sun {
  position: fixed;
  top: -5%;
  left: 50%;
transform: translate(-50%, -90%);
  /* start off-screen (bottom-right) */
  opacity: 0;

  width: 100%; /* adjust */
  pointer-events: auto;
  cursor: pointer;
}

body.spell-combo .sun {
  animation: sun 2.2s ease-out forwards;
}

@keyframes sun{
  from {
    opacity: 0;
    transform: translate(-50%, -140px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}


.key{
    color: white;
    position: fixed;
    left: 5%;
    bottom: 10%;
    font-family: "IBM Plex Mono", monospace;
    font-weight: lighter;
    background-color: #0800ffcd;
}

body.spell-combo .key {
  display: none;
}